<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.card {
  transition: 0.3s;
  width: 22%;
  height: 22%;
  border-radius: 5px;
  border: 2px solid rgb(58, 56, 56);
  padding: 2px;
  margin: 54px;
}

.rahl
{
    display: flex;
    
}
.rp
{
  display: flex;


}
.rss
{
  display: flex;

}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
  border-radius: 5px 5px 0 0;
}
img {
  height: 200px;
  width: 100%;
  background-color: powderblue;
}

.container {
  padding: 1px 12px;
}
</style>
</head>
<body>
  {{> navbar}}

<center><h1>Scrap Prices</h1>
</center>
<div class="rahl">
    <div class="card">
        <img src="images/alu.jpg" alt="Avatar" >
        <div class="container">
          <h4><b><center>Alminimum</center></b></h4> 
          <p><center>Rs.100.00/kg</center></p> 
        </div>
      </div>
      <div class="card">
          <img src="images/steel.jpg" alt="Avatar" >
          <div class="container">
            <h4><b><center>Steel</center></b></h4> 
            <p><center>Rs.45.00/kg</center></p> 
          </div>
        </div>
        <div class="card">
          <img src="images/plastic.jpg" alt="Avatar" >
          <div class="container">
            <h4><b><center>Plastic bootle</center></b></h4> 
            <p><center>Rs.12.00/kg</center></p> 
          </div>
        </div>


      </div>
      <br>



        <div class="rss">
         <div class="card">
          <img src="images/newspaper.jpg" alt="Avatar" >
          <div class="container">
            <h4><b><center>Newspaper</center></b></h4> 
            <p><center>Rs.20.00/kg</center></p> 
          </div>
        </div>
        <div class="card">
          <img src="images/cant.jpg" alt="Avatar" >
          <div class="container">
            <h4><b><center>Can</center></b></h4> 
            <p><center>Rs.35.00/kg</center></p> 
          </div>
        </div>
        <div class="card">
          <img src="images/motherboard.jpg" alt="Avatar" >
          <div class="container">
            <h4><b><center>Motherboard</center></b></h4> 
            <p><center>Rs.25.00/piece</center></p> 
          </div>
        </div>
        </div>
        <br>

        <div class="rp"><div class="card">
          <img src="images/iron.jpg" alt="Avatar" >
          <div class="container">
            <h4><b><center>Iron</center></b></h4> 
            <p><center>Rs.25.00/kg</center></p> 
          </div>
        </div>
        <div class="card">
          <img src="images/glassbottle.jpg" alt="Avatar" >
          <div class="container">
            <h4><b><center>Glass bottle</center></b></h4> 
            <p><center>Rs.10.00/kg</center></p> 
          </div>
        </div>
        <div class="card">
          <img src="images/e waste.jpg" alt="Avatar" >
          <div class="container">
            <h4><b><center>E-Waste</center></b></h4> 
            <p><center>Rs.12.00/kg</center></p> 
          </div>
        </div></div>

</body>
</html> 
